<h3><%= @user.name %></h3>
<p>E-mail</p>
<p><%= @user.email %></p>
<p>CPF</p>
<p><%= @user.cpf %></p>
<p>Endereço</p>
<% if @user.address.present? %>
  <p>Rua: <%= @user.address.street %></p>
  <p>Cidade/UF: <%= "#{@user.address.city} - #{@user.address.state}" %></p>
  <p>Bairro: <%= @user.address.neighbourhood %></p>  
  <p>CEP: <%= @user.address.postal_code %></p>
<% else %>
  <p>Este usuário não tem um endereço cadastrado</p>
<% end %>
<%= link_to('Editar', controller: 'users', action: 'edit', id: @user.id) %>