<!DOCTYPE html>
<html class="ls-theme-green">
  <head>
    <title>Casa de Câmbio - Rails</title>
    <%= render 'shared/head'%>
  </head>
  <body>
    
    <%= render 'shared/header' %>

    <aside class="ls-sidebar">
      <%= render 'shared/sidebar_menu'%>
    </aside>

    <main class="ls-main ">
      <div class="container-fluid">
        <h1 class="ls-title-intro ls-ico-home">Bem-vindo ao sistema de trocas de moedas</h1>
        <% if flash[:success] %>
          <div class="ls-alert-success"><%= flash[:success] %></div>
        <% end %>
        <p>Confira abaixo a listagem de todas as transações cadastradas</p>
        <p>Você pode filtrar pelo tipo de moeda.</p>
        <hr>
        <div class="ls-box-filter">
          <%= form_tag("#{root_path}filter_currency", class: 'ls-form ls-form-inline ls-float-left') do %>
            <label class="ls-label col-md-8 col-sm-8">
              <b class="ls-label-text">Filtro por moeda</b>
              <div class="ls-custom-select">
                <%= select_tag 'currency', raw("<option value='dollar'>Dólar</option>\
                                                <option value='real'>Real</option>")%>
              </div>
            </label>
            <div class="ls-actions-btn">
              <%= submit_tag 'Filtrar', class: 'ls-btn' %>
            </div>
          <% end %>
        </div>

        <% if @transactions.none? #'inverse' of .any? %>
          <div class="ls-alert-info">Você ainda não possui transações cadastradas.</div>
        <% else %>
          <table class="ls-table ls-table-striped">
            <thead>
              <tr>
                <th>Identificador</th>
                <th>Quantidade</th>
                <th>Moeda</th>
                <th>Tipo</th>
                <th>Total</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @transactions.each do |transaction| %>
                <tr>
                  <td><%= link_to(transaction.id, controller: 'transactions', action: 'show', id: transaction.id) %></td>
                  <td><%= transaction.amount %></td>
                  <td><%= transaction.to_pt_BR(transaction.currency) %></td>
                  <td><%= transaction.to_pt_BR(transaction.transaction_type) %></td>
                  <td><%= number_to_currency(transaction.total, format: '%u %n', negative_format: '%u -%n') %></td>
                  <td><%= link_to 'Editar', edit_transaction_path(transaction) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <p>Total agregado <br><%= number_to_currency(@transactions.sum(:total), format: '%u %n', negative_format: '%u -%n') %></p>
        <% end %>
      </div>
    </main>
  </body>
</html>

