<h1>Bem-vindo ao sistema de trocas de moedas</h1>


<% if @transactions.none? #'inverse' of .any? %>
  <p>Você ainda não possui transações cadastradas</p>
<% else %>
  <% @transactions.each do |transaction| %>
    <p>Identificador <br><%= link_to(transaction.id, controller: 'transactions', action: 'show', id: transaction.id) %></p>
    <p>Quantidade <br><%= transaction.amount %></p>
    <p>Moeda <br><%= transaction.to_pt_BR(transaction.currency) %></p>
    <p>Tipo <br><%= transaction.to_pt_BR(transaction.transaction_type) %></p>
    <p>Total <br><%= number_to_currency(transaction.total, format: '%u %n', negative_format: '%u -%n') %></p>
    <br>
  <% end %>
<% end %>

<%= link_to('Registrar transação', controller: 'transactions', action:'new') %>
