<!DOCTYPE html>
<html class="ls-theme-green">
  <head>
    <title>Editar Transação</title>
    <%= render 'shared/head'%>
  </head>
  <body>
    <%= render 'shared/header' %>

    <aside class="ls-sidebar">
      <%= render 'shared/sidebar_menu'%>
    </aside>

    <main class="ls-main ">
      <div class="container-fluid">
        <h2 class="ls-title-intro ls-title-2">Editar Transação</h2>
        <% @transaction.errors.full_messages.each do |message| %>
          <div class="ls-alert-danger"><%= message %></div>
        <% end %>

        <%= form_for @transaction do |f| %>
          <fieldset>
            <label class="ls-label col-md-3">
              <b class="ls-label-text">Quantidade</b>
              <%= f.number_field :amount %>
            </label>
            <label class="ls-label col-md-3">
              <b class="ls-label-text">Moeda</b>
              <%= f.select :currency, [['Dólar', 'dollar'], ['Real', 'real']] %>
            </label>
            <label class="ls-label col-md-3">
              <b class="ls-label-text">Cotação</b>
              <%= f.number_field :quotation %>
            </label>
            <label class="ls-label col-md-3">
              <b class="ls-label-text">Tipo</b>
              <%= f.select :transaction_type, [['Venda', 'sell'], ['Compra', 'buy']] %>
            </label>
            <label class="ls-label col-md-3">
              <%= f.submit 'Editar', class: 'ls-btn-primary' %>
            </label>
          </fieldset>
        <% end %>
      </div>
    </main>
  </body>
</html>

