<!DOCTYPE html>
<html class="ls-theme-green">
  <head>
    <title>Registrar Transação</title>
    <%= render 'shared/head'%>
  </head>
  <body>
    <%= render 'shared/header' %>

    <aside class="ls-sidebar">
      <%= render 'shared/sidebar_menu'%>
    </aside>

    <main class="ls-main ">
      <div class="container-fluid">
        <% transaction = @transaction %>
        <h2 class="ls-title-intro ls-title-2">Detalhes da Transação <%= transaction.id %></h2>
        <table class="ls-table ls-no-hover ls-sm-space">
          <tbody>
            <tr>
              <td style="width: 150px;"><h3>Identificador</h3></td>
              <td><p><%= transaction.id %></p></td>
            </tr>
            <tr>
              <td><h3>Usuário</h3></td>
              <td><p><%= transaction.user.email %></p></td>
            </tr>
            <tr>
              <td><h3>Quantidade</h3></td>
              <td><p><%= transaction.amount %></p></td>
            </tr>
            <tr>
              <td><h3>Moeda</h3></td>
              <td><p><%= transaction.to_pt_BR(transaction.currency) %></p></td>
            </tr>
            <tr>
              <td><h3>Cotação</h3></td>
              <td><p>$ <%= transaction.quotation %></p></td>
            </tr>
            <tr>
              <td><h3>Tipo</h3></td>
              <td><p><%= transaction.to_pt_BR(transaction.transaction_type) %></p></td>
            </tr>
            <tr>
              <td><h3>Data</h3></td>
              <td><p><%= transaction.created_at.strftime('%d/%m/%Y') %></p></td>
            </tr>
            <tr>
              <td><h3>Total</h3></td>
              <td><p><%= number_to_currency(transaction.total, format: '%u %n', negative_format: '%u -%n')%></p></td>
            </tr>
          </tbody>
        </table>

        <p>
          <%= link_to 'Editar', edit_transaction_path(transaction), class: 'ls-btn-primary' %>
          <%= link_to 'Apagar', transaction_path(transaction), method: :delete, class: 'ls-btn-danger' %>
        </p>
     
      </div>
    </main>
  </body>
</html>

