<% transaction = @transaction %>
<h3>Identificador</h3>
<p><%= transaction.id %></p>
<h3>Quantidade</h3>
<p><%= transaction.amount %></p>
<h3>Moeda</h3>
<p><%= transaction.to_pt_BR(transaction.currency) %></p>
<h3>Cotação</h3>
<p>$ <%= transaction.quotation %></p>
<h3>Tipo</h3>
<p><%= transaction.to_pt_BR(transaction.transaction_type) %></p>
<h3>Data</h3>
<p><%= transaction.created_at.strftime('%d/%m/%Y') %></p>
<h3>Total</h3>
<p><%= number_to_currency(transaction.total, format: '%u %n', negative_format: '%u -%n')%></p>

<p><%= link_to 'Editar', edit_transaction_path(transaction) %></p>
<p><%= link_to 'Apagar', transaction_path(transaction), method: :delete %></p>

<%= link_to('Voltar', :back) %>